.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap:.5em;
  grid-auto-rows: minmax(5rem, auto);
    }
.grid > div{
  background:#eee;
  /*padding:1em;*/
}
.info{
  padding:1em;
}
.grid > div:nth-child(odd){
  background:#ddd;
}
iframe {
  width: 100%;
}
img {
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: viewport;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
